In [12]:
# If very few missing → drop rows.

# If numeric & not many missing → use mean/median.

# If categorical → use mode or "Unknown".

# If many missing & important column → use advanced imputers.

In [ ]:
import os
print(os.path.exists(r"C:\Users\DELL\Desktop\stu\StressLevelDataset.csv"))

In [6]:
import os

file_path = r"C:\Users\USER\Desktop\stu\StressLevelDataset.csv"

print(os.path.exists(file_path))

True

In [21]:
import pandas as pd

df = pd.read_csv(r"C:\Users\USER\Desktop\stu\StressLevelDataset.csv")
df.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20,0,11,2,1,2,4,2,3,...,2,3,2,3,3,2,3,3,2,1
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1,4,5,5,2
2,12,18,1,14,2,1,2,2,2,2,...,2,2,3,3,2,2,3,2,2,1
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1,4,4,5,2
4,16,28,0,7,2,3,5,1,3,2,...,3,4,3,1,2,1,5,0,5,1

df.columns.tolist()

In [9]:
df.columns.tolist()

['anxiety_level',
 'self_esteem',
 'mental_health_history',
 'depression',
 'headache',
 'blood_pressure',
 'sleep_quality',
 'breathing_problem',
 'noise_level',
 'living_conditions',
 'safety',
 'basic_needs',
 'academic_performance',
 'study_load',
 'teacher_student_relationship',
 'future_career_concerns',
 'social_support',
 'peer_pressure',
 'extracurricular_activities',
 'bullying',
 'stress_level']

In [24]:
df.isnull().sum()   #sum of misisng values by col

anxiety_level                   0
self_esteem                     0
mental_health_history           0
depression                      0
headache                        0
blood_pressure                  0
sleep_quality                   0
breathing_problem               0
noise_level                     0
living_conditions               0
safety                          0
basic_needs                     0
academic_performance            0
study_load                      0
teacher_student_relationship    0
future_career_concerns          0
social_support                  0
peer_pressure                   0
extracurricular_activities      0
bullying                        0
stress_level                    0
dtype: int64

In [25]:
df.isnull().sum() .sum()                                     #sum of misisng values by entire dataset

0

In [26]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

anxiety_level                   0.0
self_esteem                     0.0
mental_health_history           0.0
depression                      0.0
headache                        0.0
blood_pressure                  0.0
sleep_quality                   0.0
breathing_problem               0.0
noise_level                     0.0
living_conditions               0.0
safety                          0.0
basic_needs                     0.0
academic_performance            0.0
study_load                      0.0
teacher_student_relationship    0.0
future_career_concerns          0.0
social_support                  0.0
peer_pressure                   0.0
extracurricular_activities      0.0
bullying                        0.0
stress_level                    0.0
dtype: float64

In [28]:
len(df)   #num of rows

1100

In [30]:
print(df.info())
#  Non-null → means the value exists (it can be 0, a number, text, or anything valid — just not missing).

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anxiety_level                 1100 non-null   int64
 1   self_esteem                   1100 non-null   int64
 2   mental_health_history         1100 non-null   int64
 3   depression                    1100 non-null   int64
 4   headache                      1100 non-null   int64
 5   blood_pressure                1100 non-null   int64
 6   sleep_quality                 1100 non-null   int64
 7   breathing_problem             1100 non-null   int64
 8   noise_level                   1100 non-null   int64
 9   living_conditions             1100 non-null   int64
 10  safety                        1100 non-null   int64
 11  basic_needs                   1100 non-null   int64
 12  academic_performance          1100 non-null   int64
 13  study_load                    1100 non-null   int64
 14  teacher_student_relationship  1100 non-null   int64
 15  future_career_concerns        1100 non-null   int64
 16  social_support                1100 non-null   int64
 17  peer_pressure                 1100 non-null   int64
 18  extracurricular_activities    1100 non-null   int64
 19  bullying                      1100 non-null   int64
 20  stress_level                  1100 non-null   int64
dtypes: int64(21)
memory usage: 180.6 KB
None

In [57]:
import seaborn as sns
titanic=sns.load_dataset("titanic")
titanic.shape

(891, 15)

In [36]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [37]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [38]:
print("Skewness of Age:", titanic['age'].skew())

Skewness of Age: 0.38910778230082704

In [61]:
titanic=titanic.drop(columns=["deck"])

In [45]:
titanic.columns.tolist()

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'class',
 'who',
 'adult_male',
 'embark_town',
 'alive',
 'alone']

In [69]:
titanic.shape

(889, 14)

In [59]:
titanic.dropna(subset=["embarked"],inplace=True)
#titanic.dropna(subset=['embarked', 'embark_town'], inplace=True)

In [68]:
titanic.dropna(subset=['embark_town'], inplace=True)