In [11]:
print("""Hello
world""")
print("Hello world\n There we're")

Hello
world
Hello world
 There we're

In [15]:
#single line comment
"""multiline 
comment"""
print("about comments")
print('''about
comments''')

about comments
about
comments

In [17]:
a="hello world"
print(a)

hello world

In [77]:
#string manipulation

#concatenation

str1="hello "
str2=" world"
str3=str1+str2
print(str3)

#repetition

str3=str1 * 3
print(str3)

#length

str4="concatenation"
print(len(str4))
print(str4[0:]) #from first to last
print(str4[3:]) #from 3rd charr to last charr
print(str4[:-1]) #from first charr to last but one

#format string

char="hello"
print(f"char is {char}")

age=12
name="alice"
print(f" my is {name} and am  {age} years old")
print("My name is {} and I am {} years old.".format(name, age))
print("my name is %s and i'm %d years old"%(name,age))


print(name[2])  #indexing
print(name[1:3])  #substring accessing

#stripping

str1="        aliCe      "
print(str1)
stripped=str1.strip()
print(stripped)

print(stripped.upper())
print(stripped.lower())

hello  world
hello hello hello
13
concatenation
catenation
concatenatio
char is hello
 my is alice and am  12 years old
My name is alice and I am 12 years old.
my name is alice and i'm 12 years old
i
li
        aliCe
aliCe
ALICE
alice

In [1]:
name="john"
age=23
address="mcc 'b' block"
print(name,age,address)

john 23 mcc 'b' block

In [5]:
a=2
b=3
a,b=b,a
print(a,b)

3 2

In [7]:
a=34.4
a=int(a)
print(a)
print(type(a))

34
<class 'int'>

In [18]:
name = input("Enter name of student: ")
year = int(input("Enter year: "))
course_enrolled = input("Enter course enrolled: ")

print(f"name of the student is {name} joined in {year} for the course {course_enrolled}")

Enter name of student: john
Enter year: 2023
Enter course enrolled: mca
name of the student is john joined in 2023 for the course mca

In [16]:
name = input("Enter name of student: ")
year = int(input("Enter year: "))
course_enrolled = input("Enter course enrolled: ")

print(f"{name}\n{year}\n{course_enrolled}")

Enter name of student: john
Enter year: 2023
Enter course enrolled: mca
john
2023
mca

In [14]:
a=12
a=float(a)
print(a)
print(type(a))

12.0
<class 'float'>

In [19]:
#arithmetic opeartor
print(2+2)
print(8//3)
print(2**3)

4
2
8

In [25]:
#logical operator
print(3>2 and 3<7)
print(3>2 and 3>7)
print(not(3<2 and 3<7))
print(not(3>2 or 3<7))

True
False
True
False

In [28]:
#identity operator
a=123
b="123"
print(a is b)
print(a is not b)
a=123
b=123
print(a is b)
print(a is not b)

False
True
True
False

In [43]:
#bitwise operator
a=8
b=10
print(a & b)
print(a | b)
print(a^b)
c=a<<2
print(bin(c))
c=a>>2
print(bin(c))

8
10
2
0b100000
0b10

In [46]:
#membership operator
a="hello"
print("e" in a)
print("a" not in a)
print("a" in a)

True
True
False

In [48]:
#conditional stms
marks=97
if marks>=95:
    print(f"marks is {marks}")
else:
     print(f"marks is less than 95")

marks is 97

In [53]:
marks=20
if marks>=90:
    print("distinction")
elif marks>=50 and marks<90:
    print("pass")
else:
    print("fail")

fail

In [57]:
#short-hand if 
marks=97
if marks>=90:print("distinction")
    
#short-hand if else
#(body of if) if condition else (body of else)
marks=87
print("distinction") if marks>=90 else print("pass")

distinction
pass

In [ ]:
num=int(input("enter a number"))
if num%2==0:
    print("even")
else:
    print("odd")

In [ ]:
n = int(input("Enter a number: "))  # Make sure to input an integer
if n >= 0:
    print("pos")  # If the number is 0 or greater
else:
    print("neg")  # If the number is less than 0

In [ ]:
n = int(input("Enter a number: "))  # Make sure to input an integer
if n >= 0:
    print("pos")  # If the number is 0 or greater
else:
    print("neg")  # If the number is less than 0